// BREAKPOINTS

$bp1 : 30em;      // 480px

$bp2 : 37.5em;    // 600px

$bp3 : 48em;      // 768px

$bp4 : 56.25em;   // 900px

$bp5 : 68.75em;   // 1100px

// Break point 1
@media only screen and (min-width: $bp2) {
        @import "media/_bp1";
}
// Break point 2
@media only screen and (min-width: $bp2) {
        @import "media/_bp2";
}
// Break point 3
@media only screen and (min-width: $bp3) {
        @import "media/bp3";
}
// Break point 4
@media only screen and (min-width: $bp4) {
        @import "media/bp4";
}
// Break point 5 
@media only screen and (min-width: $bp5) {
       @import "media/bp5";
}
// Break point x2 --> Retina Display
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "media/2x";}
 
