%header-style{
	background: $navbar-color;
	color: $navbar-font-color;
	border-bottom: 1px solid darken($border-color,5%);
}

%main-style{
	color: $navbar-font-color;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
}

.button-main{
	@extend .button;
	@extend .tiny;
	@extend .radius;
}

.texture{
	&-primary{
		background: $primary-color;
		color:white;
		a{
			color:white;
			&:hover{
				color:$secondary-color;
			}
		}
	}
}