/*------------------------------------*\
    $PATRONES
\*------------------------------------*/
/**
 * ESTE ARCHIVO ES USADO SÓLO  POR LA GUÍA DE PATRONES
 * en /patrones/index.html y /patrones/page.html
 * es recomendable eliminar su inclusión en el style.less
 * a la hora de compilar el CSS de la web.
 */

 [role="banner"] {
	@extend %max-width;
	@extend %clearfix;

	text-align: center;
	padding: $base-padding * 2;
	h1 {
		color:$body-dark-font-color;
	}
 }
main {
	@extend %max-width;
}
section {
	width: 100%;
	margin-bottom: $base-padding  * 2;
	background-color: $white;
	@extend %clearfix;
	padding: ($base-padding * 5) $base-padding $base-padding;
	border-radius:$global-radius;
	border:1px solid $light-grey;
	position:relative;
	h2.title {
		background-color:$secondary-color;
		text-transform: uppercase;
		font-weight: bold;
		color: $body-dark-font-color;
		position: absolute;
		top:0;
		left:0;
        right: 0;
		padding:$base-padding ;
        margin:0;
        border-bottom: 1px solid $light-grey;
		@include font-size(17);
		small {
			color: $black;
			font-weight: bold;

            font-size: 0.9rem;
          &:after{
            text-align:right;
            color:$black;
            font-size: 1rem;
          }
		}
	}
	.title {
		color: $color-inverse;
	}
}
.altfont {
    font-family:$body-family-serif;
}

.basefont::after {
	content: "#{$body-font-family}";
}
.altfont::after {
	content: "#{$body-family-serif}";
}
.code::after {
	content: "#{$body-code-font}";
}
// swatches

.swatch {
margin : 1%;
padding : 1em;
@extend %clearfix;
width : 31.333%;
border:1px solid $lighter-grey;
float:left;

  small{
    font-size: 1rem;
    padding-top: $base-padding;
  }
}

.swatch-row {
display : block;
margin : 0;
padding : 0;
  @include clearfix;
 }


.swatch-row span {
display : block;
float : left;
width : 100%;
height : 100px;
margin-bottom: $base-padding/2;
}

// base

.swatch-base {
	span:nth-child(1) {
		background-color:$primary-color;
 	}
 	small::after {
		content: "#{$primary-color}";
		color: $primary-color;
		display: block;
        margin-top: $base-padding/3;
	}
}



// Secondary

.swatch-secondary {
	span:nth-child(1) {
		background-color:$secondary-color;
	}
	small::after {
		content: "#{$secondary-color}";
		color: $secondary-color;
		display: block;
        margin-top: $base-padding/3;
	}

}


// Complementario

.swatch-compcolor {
	span:nth-child(1) {
		background-color:$comp-color;
	}
	small::after {
		content: " #{$comp-color}";
		color: $comp-color;
		display: block;
        margin-top: $base-padding/3;
	}
}


// alert

.swatch-alert {
	span:nth-child(1) {
		background-color:$alert-color;
	}
	small::after {
		content: "#{$alert-color}";
		color: $alert-color;
		display: block;
        margin-top: $base-padding/3;
	}


}


// error

.swatch-error {
	span:nth-child(1) {
		background-color:$alert-color;
	}
	small::after {
		content: "#{$alert-color}";
		color: $alert-color;
		display: block;
        margin-top: $base-padding/3;
	}

}


// info

.swatch-info {
	span:nth-child(1) {
		background-color:$info-color;
	}

	small::after {
		content: "#{$info-color}";
		color: $info-color;
		display: block;
        margin-top: $base-padding/3;
	}

}


// success

.swatch-success {
	span:nth-child(1) {
		background-color:$success-color;
	}
	small::after {
		content: "#{$success-color}";
		color: $success-color;
		display: block;
        margin-top: $base-padding/3;
	}


}


// warning

.swatch-warning {
	span:nth-child(1) {
		background-color:$warning-color;
	}

	small::after {
		content: "#{$warning-color}";
		color: $warning-color;
		display: block;
        margin-top: $base-padding/3;
	}

}


.caja-animacion, .hover {
	width: 100%;
	padding:1em;
	background-color: $light-grey;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-bottom: 1em;
	border-radius: $global-radius;
	.cursor {
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		width: 20px;
		background-color: $grey;
		@include border-radius($global-radius);
		@include transition(all $animated-seg ease-in-out);
	}
	&:hover .cursor {
		left: 100%;
		margin-left: -20px;
		@include border-radius($global-radius, $global-radius);
			}
}
.hover {
	@include transition(all $hover-transition ease-out);
	&:hover {
		background-color: $primary-color;
	}
	strong::after {
			content: ': #{$hover-transition}';
			font-weight: normal;
		}
}
.transition::after {
			content: ': #{$animated-seg}';
			font-weight: normal;
		}


figure {
	width: 20%;
	float: left;
	margin-right: 5%;
}