$base-margin:1%;
$base-padding:1rem;

// CALCULANDO HEADER HEIGHT
$header-height:modular-scale(1.3rem,2,$golden); 
// CALCULANDO HEADER PADDING RELATIVO
$header-line-height:$header-height - $base-padding * 2 ; 
// CALCULANDO HEADER FONT-SIZE RELATIVO
$header-font-size:modular-scale($header-height,-1,$golden); 
